<div id="sidebar">
  <h3>Call right now!</h3>
  <h4>First, dial the <code style="font-size: 140%">ShopTalk Number:</code></h4>

  <p style="background: #fff; margin-left: 4px"><code><%= ENV['SHOPTALK_LINE'] || '(555) 555-5555 ext 456'%></code></p>
 
  <h4>Then enter your <code style="font-size: 140%">Access Code</code> </h4>

  <p style="background: #fff; margin-left: 4px"><code><%= @shop.pin %></code></p>

  <p class="description">
    ShopTalk will look up todays orders from your shop and read the total value to you!
  </p>
  
  <h3>It's that simple.</h3>

</div>

<p>
	ShopTalk allows you to call into your shop from any land line and get a running total for today's orders.
</p>

<table id="style-table">
  <tr>
    <td width="55%">
      <h3>Call In Access Code</h3>
    </td>
    
    <td width="45%">
      <h1 class='blue'><%= @shop.pin%></h1>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Your Shop's Time Zone</h3>
    </td>
    
    <td nowrap>
      <h4><%= @shop.timezone ? @shop.timezone : 'UTC +0:00'%></h4>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Your ShopTalk Plan</h3>
    </td>
    
    <td>
      <h1 class='orange'>El Cheapo</h1>
    </td>
  </tr>
</table>




